<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    >

    <!-- Location: required for BLE scan on Android 11 and below, and for Wi-Fi SSID / iBeacon -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Legacy Bluetooth (Android 11 and below) -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission
        android:name="android.permission.BLUETOOTH_ADMIN"
        android:maxSdkVersion="30" />

    <!-- Android 12+ (compileSdk 31+): BizBundle checks all three -->
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />



    <application
        android:name=".AppLation"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher_background"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/demo_app_name"
        android:supportsRtl="false"
        android:theme="@style/Base_BizBundle_Theme"
        tools:replace="android:allowBackup,android:supportsRtl,android:label,android:icon,android:roundIcon,android:theme"

     >

        <meta-data
            android:name="THING_SMART_APPKEY"
            android:value="${TUYA_SMART_APPKEY}" />
        <meta-data
            android:name="THING_SMART_SECRET"
            android:value="${TUYA_SMART_SECRET}" />
        <activity
            android:name=".DemoLoginActivity"
            android:exported="true"
            android:label="@string/demo_app_name"

            android:theme="@style/Base_BizBundle_Theme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".DemoHubActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DemoHomePickerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DemoDeviceListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".UserRegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".DemoIpcCloudVasActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>